<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partial/nav.ejs') %> 

    <h2>Welcome to my library</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium,
         voluptate nam? Cumque placeat numquam quo. Repellat, voluptatem error amet neque distinctio placeat eos? 
        Quibusdam consequatur rerum doloribus labore blanditiis mollitia!</p>
</body>
</html>